<%- include('../partials/header') %>


    <section id="show-container">
        <h1 id="show-header">
            <%= location.name %>
        </h1>
        <div id="show-details">
            <%= location.address %>
            <br><br>
            <a href="<%= location.website %>">
                    <%= location.website %>
            </a>
        </div>
    </section>


<%- include('../partials/footer') %>