<%- include('../partials/header') %>


    <section id="show-container">
        <h1 id="show-header">
            <%= location.name %>
        </h1>
        <div id="show-details">
            <%= location.address %>
                <br><br>
                <a href="<%= location.website %>">
                    <%= location.website %>
                </a>
        </div>


        <!-- Some of the below code is nearly identical to some from Mongoose Movies -->
        <section id="species-seen">
            <% if (user) {%>
                <form action="/locations/<%= location._id %>/species" method="POST">
                    <select name="speciesId">
                        <%- species.map(s=>
                            `<option value="${s._id}">${s.name}</option>`
                            ).join('') %>
                    </select>
                    <button type="submit">Add Species</button>
                </form>
                <% } %>
                    <h2>Species seen here:</h2>
                    
                        <% location.wildlife.forEach(s=> { %>
                            <div class="species-entry">
                                <div class="species-name">
                                    <%=s.name %>
                                </div>
                                <% if (user) { %>
                                    <form id="del-btn" action="/locations/<%= location._id %>/species/<%= s._id %>?_method=PUT" method="POST">
                                        <button type="submit">X</button>
                                    </form>
                                    <% } %>
                            </div>    
                    <% }) %>
            
        </section>
    </section>
    <%- include('../partials/footer') %>